@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


@keyframes marquee {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

.offer-content {
  display: flex;
  flex-wrap: nowrap;
  animation: marquee 12s linear infinite;
}

.animate-marquee {
  display: flex;
  animation: marquee 12s linear infinite;
}
